body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius:40px;
    box-shadow: 10px 10px 10px rgb(111, 37, 10);
}
h4{
    padding-bottom: 5px;
}
.bttn{
padding-top: 3px;
background-color: rgb(22, 127, 92);
border-radius: 3px;
color: azure;

}
#transaction-area{
    display: none;
}



.deposit{
    padding-top: 5px;
    margin: 15px;
    background-color: slateblue;
    color: aliceblue;
    padding: 20px;
    border-radius: 15px;

}
 .withdraw{
    padding-top:5px;
    margin: 15px;
    background-color: lightcoral;
    color:aliceblue;
    padding:20px;
  border-radius: 15px;
 }

 .balance{
    padding-top: 5px;
    margin: 15px;
    background-color: burlywood;
    color: aliceblue;
    padding: 20px;
    border-radius: 15px;
 }

    
